body {
  max-width: 20rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

#search-form {
  display: flex;
}

#pattern {
  flex-grow: 1;
}

#search-form > * + * {
  margin-left: 1.5em;
}

#unused {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 13.5rem;
  overflow: auto;
}

#unused > * {
  margin: 0.444rem;
  padding: 4px;
  border-radius: 8px;
  background-color: #ddd;
}

#delete-unused {
  float: right;
  margin: 1rem;
}